<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.deysouvik.favoriteplaces">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FavoritePlaces">


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBd8ejAXZ6HUEgr3i7V29HAlJW_RhS_k7o" />

        <activity
            android:name=".MapViewActivity"
            android:exported="false"
            android:label="Favorite Place Map"
            android:screenOrientation="portrait"
            android:theme="@style/CustomNoActionBarTheme" />
        <activity
            android:name=".FavoritePlaceDetail"
            android:exported="false" />
        <activity
            android:name=".AddPlacesActivity"
            android:exported="false"
            android:label="Add Favorite Place"
            android:screenOrientation="portrait"
            android:theme="@style/CustomNoActionBarTheme" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>